      <!--
      お気に入り一覧
      チェックボックス付アコーディオン。
      チェックボックスもform_withで作る
      -->
      <%= form_with(model: @recipe_summary, url: calculation_path, local: true) do |f| %>
        <div class="wrap">
          <% if @favorite_recipe_summaries.present? %>
            <% @favorite_recipe_summaries.each do |recipe| %>
              <div class="wrap-chkbox">
              <%= f.check_box :recipe_ids, {multiple: true, include_hidden: false}, recipe[:id] %>
                <h3 class="acHead_h3 acHead">
                  <%= recipe.name %>
                  (<%= recipe.calorie %>kcal, <%= recipe.weight %>g)
                  <% if user_signed_in? && current_user.id == recipe.user_id %>
                    [ P=<%= recipe.protein %>, F=<%= recipe.fat %>, C=<%= recipe.carbohydrate %> ]
                    <!--ネスト化されたルーティングのパスがややこしい-->
                    <%= link_to "編集", edit_user_recipe_path(current_user.id, recipe.id) %>
                    <%= link_to "削除", user_recipe_path(current_user.id, recipe.id), method: :delete, data: {confirm:"削除しますか"} %>
                  <% end %><!-- user_signed_in? -->
                  <%= link_to "お気に削除", recipe_favorite_path(recipe.id, current_user.id, flag: request.path), method: :delete %>
                </h3>
                <div class="acBody">
                    <% if user_signed_in? && (recipe.user_id != current_user.id) %>
                    <p>・PFCバランス : P=<%= recipe.protein %>g, F=<%= recipe.fat %>g, C=<%= recipe.carbohydrate %>g</p>
                    <% end %>
                    <p>・材料 : 
                    <% recipe.recipes.each do |r| %>
                    <!--
                    recipe_summary -> recip -> ingredientで、一気にingredientを取りたいのだが、
                    アソシエーションの設定がよくわからない
                    -->
                    <!--配列のindexは0から始まる、テーブルのidは1から始まる。両者一致させるために -1-->
                    <%= @ingredients_name[r.ingredient_id - 1] %>..<%= r.weight %>g, 
                    <% end %></p>
                    <p class="acBody_p">・作り方 : <%= recipe.content %></p>
                </div>
                <br>
              </div>
            <% end %><!--@favorite_recipe_summaries-->
          <!--お気に入りがされていないなら、リンクを見せるだけ-->
          <% else %>
            お気に入りレシピが一つもありません。
            <%= link_to "みんなが投稿したレシピを見に行く", all_users_recipes_path %>
          <% end %>
          
          <div  class=setting_calorie>
            <p><%= label_tag :"設定カロリー" %>
            <%= text_field_tag "setting_calorie" %>kcal以下で、<BR>
            もっともお腹いっぱいになるレシピの組み合わせは......?</p>
          </div>
          <%= f.submit "→ レシピの組み合わせを見る" ,class: "btn btn-info" %>
        </div><!-- class=wrap -->
    
      <% end %><!--form_with-->

