<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1 col-xs-7">

      <%= form_tag(user_recipes_path(current_user), method: :post) do %>    
        <!--
        エラー表示
        -->
        <% if @recipe.errors.any? %>
          <p><%= @recipe.errors.count %>件のエラーあり</p>
          
          <ul>
            <% @recipe.errors.full_message.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
      
        <!--
        ドロップダウンのメニューを、dbから動的に引っ張ってくる
        -->
        <h1>レシピ新規作成ページ</h1>
  		  <div class="wrap">
          <p>材料, 重さ</p>

          <% @ingredient_number.times{ %>
            <div>
              <!--<%= select_tag "recipe[ingredient][]", options_from_collection_for_select(@ingredients, :id, :name), include_blank: "選んでね" %>        -->
              <%= select_tag "recipe[ingredient][]", option_groups_from_collection_for_select(@ingredient_categories, :ingredients, :name, :id, :name), include_blank: "選んでね" %>        
              <%= text_field_tag "recipe[weight][]" %>g
            </div>
          <% } %>

          <div>
            <p><%= label_tag :"レシピ名" %></p>
            <%= text_field_tag "recipe[name]" %>
          </div>
          <div>
            <p><%= label_tag :"作り方" %></p>
            <%= text_area_tag "recipe[content]" %>
          </div>
        
          <%= submit_tag :"レシピを投稿する"  ,class: "btn btn-info" %>
        <% end %><!--form_tag-->
      </div><!--wrap-->
    </div><!-- col-md-8 -->
  </div><!-- row -->
</div><!-- container -->
